
<div class="tweet tweet-preview">
  <div class="content clearfix">
    <div class="permalink-header">
      <div class="follow-bar">
        <div class="user-actions">
          <div class="dropdown">
            <button type="button btn" title="More user actions">
              <span class="user-dropdown-icon Icon Icon--medium Icon--cog"></span>
            </button>
          </div>

          <button class="user-actions-follow-button follow-button btn">
            <span class="button-text following-text">Following</span>
          </button>
        </div>
      </div>

      <a class="account-group editable" ng-click="toggleEditing('username')">
        <img class="avatar" ng-src="{{tweet.user.avatar}}" />
        <div class="loading-user" ng-if="editing.user"><span class="fa fa-spin fa-refresh"></span></div>
        <strong class="fullname">{{tweet.user.fullname}}<span ng-if="tweet.user.verified" class="Icon Icon--small Icon--verified"></span><span>&rlm;</span></strong>
        <span class="username">
          <s>@</s>
          <b ng-if="!editing.username">{{tweet.user.username}}</b>
          <input ng-if="editing.username" class="username editing-username" type="text" size="14" ng-blur="toggleEditing('username')" ng-keyup="handleEditingKey($event, 'username')" ng-model="tweet.user.username">
        </span>
      </a>
    </div>
  </div>

  <p ng-if="!editing.status" class="tweet-text editable" ng-click="toggleEditing('status')">{{tweet.status}}</p>
  <textarea ng-if="editing.status" class="tweet-text editing-status" maxlength="140" rows="2" ng-blur="toggleEditing('status')" ng-keyup="handleEditingKey($event)" ng-model="tweet.status"></textarea>

  <div class="stream-item-footer">
    <div role="group" class="actions u-cf">
      <div class="action">
        <button class="action-button">
          <span class="Icon Icon--reply"></span>
          <span class="u-hiddenVisually">Reply</span>
        </button>
      </div>
      <div class="action">
        <button class="action-button">
          <span class="Icon Icon--retweet"></span>
          <span class="u-hiddenVisually">Retweet</span>
        </button>
      </div>
      <div class="action">
        <button class="action-button">
          <span class="Icon Icon--favorite"></span>
          <span class="u-hiddenVisually">Favorite</span>
        </button>
      </div>
      <div class="action">
        <button class="action-button">
          <span class="Icon Icon--dots"></span>
          <span class="u-hiddenVisually">More</span>
        </button>
      </div>
    </div>
  </div>

  <div class="permalink-footer">
    <div class="tweet-details-fixer">
      <!-- TODO: media -->

      <div class="tweet-stats-container">
        <ul class="stats">
          <li class="stat-count">
            <span class="link editable" ng-click="toggleEditing('retweets')">
              Retweets
              <strong ng-if="!editing.retweets" class="count">{{tweet.stats.retweets}}</strong>
              <input ng-if="editing.retweets" class="count editing-retweets" type="text" size="3" ng-blur="toggleEditing('retweets')" ng-keyup="handleEditingKey($event)" ng-model="tweet.stats.retweets">
            </span>
          </li>
          <li class="stat-count">
            <span class="link editable" ng-click="toggleEditing('favorites')">
              Favorites
              <strong ng-if="!editing.favorites" class="count">{{tweet.stats.favorites}}</strong>
              <input ng-if="editing.favorites" class="count editing-favorites" type="text" size="3" ng-blur="toggleEditing('favorites')" ng-keyup="handleEditingKey($event)" ng-model="tweet.stats.favorites">
            </span>
          </li>
          <li class="avatar-row">
            <a href class="link" ng-repeat="avatar in tweet.stats.favoritedBy | limitTo:tweet.stats.favorites track by $index" ng-click="refreshAvatar($index)"><img class="avatar size24" ng-src="{{avatar}}" /></a>
          </li>
        </ul>
      </div>

      <div class="client-and-actions">
        <span ng-if="!editing.timestamp" class="metadata editable" ng-click="toggleEditing('timestamp')">{{tweet.timestamp}}</span>
        <input ng-if="editing.timestamp" class="count editing-timestamp" type="text" size="24" ng-blur="toggleEditing('timestamp')" ng-keyup="handleEditingKey($event)" ng-model="tweet.timestamp">
      </div>
    </div>
  </div>
</div>

