
<div class="tweet tweet-preview">
  <div class="content clearfix">
    <div class="permalink-header">
      <div class="follow-bar">
        <div class="user-actions">
          <div class="dropdown">
            <button type="button btn" title="More user actions">
              <img class="user-dropdown-icon Icon Icon--cog" src="/assets/img/twitter/icon.cog.png" />
            </button>
          </div>

          <button class="user-actions-follow-button follow-button btn">
            <span class="button-text following-text">Following</span>
          </button>
        </div>
      </div>

      <a class="account-group editable" ng-click="toggleEditing('username')">
        <img class="avatar" ng-src="{{tweet.avatar}}" />
        <div class="loading-user" ng-if="editing.user"><span class="fa fa-spin fa-refresh"></span></div>
        <strong class="fullname">{{tweet.fullname}}<img ng-if="tweet.verified" class="Icon Icon--verified" src="/assets/img/twitter/icon.verified.png" /><span>&rlm;</span></strong>
        <span class="username">
          <s>@</s>
          <b ng-if="!editing.username">{{tweet.username}}</b>
          <input ng-if="editing.username" class="username editing-username" type="text" size="14" ng-blur="toggleEditing('username')" ng-keyup="handleEditingKey($event, 'username')" ng-model="tweet.username">
        </span>
      </a>
    </div>
  </div>

  <p ng-if="!editing.status" class="tweet-text editable" ng-click="toggleEditing('status')">{{tweet.status}}</p>
  <textarea ng-if="editing.status" class="tweet-text editing-status" maxlength="140" rows="2" ng-blur="toggleEditing('status')" ng-keyup="handleEditingKey($event)" ng-model="tweet.status"></textarea>

  <div class="stream-item-footer">
    <img class="actions" src="/assets/img/twitter/icon.actions.png" />
  </div>

  <div class="permalink-footer">
    <div class="tweet-details-fixer">
      <!-- TODO: media -->

      <div class="tweet-stats-container">
        <ul class="stats">
          <li class="stat-count">
            <span class="link editable" ng-click="toggleEditing('retweets')">
              Retweets
              <strong ng-if="!editing.retweets" class="count">{{tweet.retweets}}</strong>
              <input ng-if="editing.retweets" class="count editing-retweets" type="text" size="3" ng-blur="toggleEditing('retweets')" ng-keyup="handleEditingKey($event)" ng-model="tweet.retweets">
            </span>
          </li>
          <li class="stat-count">
            <span class="link editable" ng-click="toggleEditing('favorites')">
              Favorites
              <strong ng-if="!editing.favorites" class="count">{{tweet.favorites}}</strong>
              <input ng-if="editing.favorites" class="count editing-favorites" type="text" size="3" ng-blur="toggleEditing('favorites')" ng-keyup="handleEditingKey($event)" ng-model="tweet.favorites">
            </span>
          </li>
          <li class="avatar-row">
            <a href class="link" ng-repeat="avatar in tweet.favoritedBy | limitTo:tweet.favorites track by $index" ng-click="refreshAvatar($index)" title="Change avatar"><img class="avatar size24" ng-src="{{avatar}}" /></a>
          </li>
        </ul>
      </div>

      <div class="client-and-actions">
        <span ng-if="!editing.timestamp" class="metadata editable" ng-click="toggleEditing('timestamp')">{{tweet.timestamp}}</span>
        <input ng-if="editing.timestamp" class="count editing-timestamp" type="text" size="24" ng-blur="toggleEditing('timestamp')" ng-keyup="handleEditingKey($event)" ng-model="tweet.timestamp">
      </div>
    </div>
  </div>
</div>

<div class="container" ng-if="!screenshot">
  <button class="download-screenshot-button btn btn-primary" ng-click="generateScreenshot()">Download Screenshot</button>

  <div ng-if="generatedScreenshotLoading" class="loader">Loading</div>
  <img ng-if="generatedScreenshot" ng-src="{{generatedScreenshot}}" />
</div>

